.rangeValue {
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 5px;
    margin-right: 20px;
}

.rangeContainer {
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
}

.doubleRangeContainer {
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}
