.HW5 {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
}

.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}